.header {
  height: 90px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
  }

  &__logo {
    width: 83px;
    height: 60px;
    background-image: url('assets/logo.png');
    background-size: cover;
  }
}
