.header-cart {
  height: 50px;
  width: 50px;
  position: relative;
  background-image: url('assets/cart.jpg');
  background-size: cover;

  &__count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    background-color: #163ca3;
  }
}
